:root {
  font-size: 16px;
  font-family: 'Baloo Da 2', cursive;
  font-weight: 500;
  --text-primary: #494949;
  --text-secondary: #ffce46;
  --bg-primary: #23232327;
  --bg-secondary: #14141844;
  --transition-speed: 600ms;
  margin-right: 0;
}

head{
  margin-top: 0rem;
}

body {
  color: black;
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
  display: none;
}

body::-webkit-scrollbar-track {
  background: #000000;
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: #000000;
}

.header {
  width: 100vw;
  overflow: hidden;
}

.navBar {
  margin-right: 0;
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #819160;
  transition: width 200ms ease;
  z-index: 10;
}

.navBarNav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navItem {
  width: 100%;
}

.navItem:last-child {
  margin-top: auto;
}

.navLink {
  display: flex;
  align-items: center;
  height: 5rem;
  color: (var(--text-primary));
  text-decoration: none;
  filter: grayscale(30%) opacity(0.7);
  transition: var(--transition-speed);
}

.linkText {
  display: none;
  margin-left: 1rem;
}

.navLink img {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navBar:hover {
  width: 16rem;
}

.navBar:hover .linkText {
  display: block;
}

.navLink:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.logo {
  /* font-weight: bold;
  margin-bottom: 1rem; */
  /* position: relative;
  top: calc(50% - 24px); */
  text-align: center;
  /* color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.2rem;
  letter-spacing: 0.3ch;
  width: 100%; */
}

.cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

#doisCorvos {
    border:0.1rem solid #aba359;
    border-radius: 0.2rem;
    background-image: url("assets/doiscorvos.jpg");
    margin-bottom: 1rem;
}

#musa {
    border: 0.1rem solid #aba359;
    border-radius: 0.2rem;
    background-image: url("assets/musa.jpg");
    margin-bottom: 1rem;
}

#bolina {
    border: 0.1rem solid #aba359;
    border-radius:0.2rem;
    background-image: url("assets/bolina.jpg");
    margin-bottom: 1rem;
}

#lince {
    border: 0.1rem solid #aba359;
    border-radius: 0.2rem;
    background-image: url("assets/lince.jpg");
    margin-bottom: 1rem;
}

.infoButton {
   border: none;
   outline: 0;
   margin: 0px;
   padding: 10px;
   color: #000000;
   font-weight: bold;
   background-color:#aba359;
   text-align: center;
   cursor: pointer;
   width: 100%;
   align-items: center;
   font-size:1.2rem;
}

.infoButton:hover {
     opacity:0.8;
  }

  p{
     margin-left: 1rem;
     margin-right:1rem;
     font-style: italic;
     color:#ffffff;
     background-color:#aba359b6;
     font-size: 1rem;
  }

  h2 {
     font-size: 2.2rem;
     color: #ffffff;
     text-shadow: -3px 0 #ffae0093, 0 3px #ffbb008f, 3px 0 #000000, 0 -3px #000000;
  }
  h3 {
    margin-left: 1rem;
    margin-bottom: 0.05rem;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: -3px 0 #ffae0093, 0 3px #ffbb008f, 3px 0 #000000, 0 -3px #000000;

}

footer {
    color: #000;
    font-size: 1rem;
    text-align: center;
    margin-left: 0rem;
    padding: 1rem;
}

main {
  margin-left: 16rem;
  margin-right: 16rem;
  padding: 1rem;
}

@media (max-width: 961px){
  main {
    margin-left: 10rem;
    margin-right: 0rem;
    padding: 1rem;
  }

  p{
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.8rem;
  }
}